.header {
  height: 6.4rem;
  display: flex;
  background-color: #eb984e;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  color: white;
  margin-left: 2rem;
  cursor: pointer;
}
.logo a,
.logo a:link,
.logo a:visited {
  color: inherit;
  text-decoration: none;
}

.nav {
  margin-right: 2rem;
}

.ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.ul li {
  font-size: 2rem;
}

.ul a,
.ul a:link,
.ul a:visited {
  padding: 0.8rem;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 9px;
  transition: all 0.3s;
}

.ul a:hover,
.ul a:active {
  box-shadow: inset 0 0 0 3px #fff;
  border-bottom: 0px solid #fff;
}
.ul a.active {
  border-bottom: 2px solid #fff;
  box-shadow: inset 0 0 0 0px #fff;
}
