.filterArea {
  padding-right: 3rem;
  /* padding-left: 3rem; */

  height: 100%;
  /* width: 350px; */
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: 2px solid #eb984e;
  /* padding-bottom: 1rem; */
  margin-right: 1rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterArea:last-child {
  margin-right: 0;
}

/* .move {
   border: 1px solid #000; 
   width: max-content; 
}
*/

.filterArea::-webkit-scrollbar {
  display: none;
  /*  Safari and Chrome */
}

.filterArea h2 {
  font-size: 2.4rem;
}

@media (max-width: 1200px) {
  .move {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding: 1rem;
  }

  .filterArea {
    padding: unset;
    overflow: unset;
    background-color: #fff;
  }

  .filterArea h2 {
    display: inline-block;
    margin-right: 2rem;
    transform: translate(0, 290%) rotate(-90deg);
  }
}

@media (max-width: 850px) {
  .move {
    flex-direction: column;
    gap: 1rem;
  }

  .filterArea h2 {
    transform: unset;
    margin-bottom: 1rem;
  }
}
