.main {
  padding: 1rem;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 6.4rem 1fr;
}

.searchPosition {
  grid-column: 2/-1;
}

.filterPosition {
  grid-row: 1/-1;
}

.productsPosition {
  grid-column: 2/-1;
  grid-row: 2/-1;
}
